:root{
--primary-color: #F5CF06;
--secundary-color: #8E4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    padding: 70px;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    gap: 16px;
    align-items: center;
}

header span{
    font-size: 32px;
    color: var(--secundary-color);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main a{
    color: white;
}

.sombra{
    position: absolute;
    font-size: 26vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    
}

h1{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-grow: 1;
    color: white;
    font-size: 20vw;
}

.container{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;
}

.container a{
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}   

.pikachu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.descricao h2{
    font-size: 64px;
    color: var(--secundary-color);
}

.descricao p{
    font-size: 20px;
    color: #8E4106;
    width: 500px;
}

footer{
    text-align: center;
    color: var(--secundary-color);
}


/*Tablet*/
@media (max-width: 768px) {
    body{
        padding: 30px;
    }

    .sombra{
        transform: translate(-50%, -180%);
    }

    main{
        justify-content: space-around;
    }

    h1{
        align-items: start;
        transform: translateY(10%);
    }

    .container{
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding: 0;
    }

    .descricao p {
        text-align: center;
    }

    footer {
        display: none;
    }

}

/*Mobile*/ 
@media (max-width: 480px) {
    .descricao h2{
        font-size: 38px;
    }
    .descricao p{
        display: none;
    }
    .sombra{
        transform: translate(-50%, -230%);
    }
   .pikachu{
    height: 50vh;
   }
   .container a{
    width: 100%;
   }
}